body{
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg,#6a5acd,#00bfff);
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card{
  background:white;
  padding:25px;
  border-radius:15px;
  text-align:center;
  width:250px;
  box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

.card img{
  width:100px;
  border-radius:50%;
  margin-bottom:10px;
}

.card h2{
  margin:5px 0;
}

.card p{
  color:gray;
  font-size:14px;
}

button{
  margin-top:10px;
  padding:8px 15px;
  border:none;
  background:#6a5acd;
  color:white;
  border-radius:8px;
  cursor:pointer;
}

button:hover{
  background:#483d8b;
}
